* {
    box-sizing: border-box;
}
/* body {
    font-size: ;
} */
header {
    width: 100%;
    background-color: rgb(111, 111, 111);
}
nav {
    margin: 0 auto;
    width: 960px;
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
}
nav ul li a {
    padding: 1rem;
}
header img {
    margin-right: 1rem;
}

nav a {
color: rgb(209, 209, 209);
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
}

main {
    margin: 30px auto;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

main > img {
    margin-bottom: 30px;
}

article {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
p {
    overflow: auto;
    height: 310px;
}

article a {
    background-color: rgb(111, 111, 111);
    border-radius: .3rem;
    color: white;
    text-decoration: none;
    padding: .5rem 1.5rem;
    align-self: flex-start;
}

main > img:nth-child(5) {
    margin-bottom: 0;
}

footer {
    padding: 4rem;
    background-color: rgb(111, 111, 111);
}


